<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :carton } %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @carton } %>

<%= form_for [:admin, @carton], url: admin_product_carton_path(@product, @carton) do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions">
      <%= button Spree.t('actions.update'), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.edit_admin_product_url(@product), icon: 'delete', id: 'cancel_link' %>
    </div>
  </fieldset>
<% end %>
