<% content_for :page_title do %>
  <%= Spree.t(:auction) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#live-auction" id="live-auction-tab" role="tab" data-toggle="tab"><%=Spree.t(:auctions)%></a></li>
  <li><a href="#awaiting-selection" role="tab" id="waiting-auction-tab" data-toggle="tab"><%=Spree.t(:awaiting_selection)%></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="live-auction">
    <table data-key="<%= spree_current_user.spree_api_key %>" data-id="<%= spree_current_user.id %>" class="table table-striped" id="live-auction-table">
      <thead>
        <tr>
          <th><%= Spree.t(:product) %></th>
          <th><%= Spree.t(:lowest_bid) %></th>
          <th><%= Spree.t(:quantity) %></th>
          <th><%= Spree.t(:start_date) %></th>
          <th><%= Spree.t(:end_date) %></th>
          <th class="actions"><%= Spree.t(:action_col) %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="awaiting-selection">
    <table class="table table-striped" id="waiting-auction-table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= Spree.t(:product) %></th>
          <th class="actions"><%= Spree.t(:action_col) %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
