<% content_for :page_title do %>
  <%= Spree.t(:favorites) %>
<% end %>

<div class="row">
<% if @favorites.any? %>
  <% @favorites.each do |favorite| %>
    <div class="col-md-3 col-sm-6 product-list-item">
      <div class="panel panel-default">
        <div class="panel-body text-center product-body">
          <%= image_tag favorite.image, { itemprop: "image", alt: favorite.product.name } %>
          <p>
          <%= link_to truncate(favorite.product.name, length: 50),
                product_url(favorite.product),
                class: 'info',
                itemprop: "name",
                title: favorite.product.name %>
              </p>
        </div>
        <div class="panel-footer text-center">
          <%= link_to Spree.t(:start_auction), product_url(favorite.product) , class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree.t(:favorites)).html_safe %>.
  </div>
<% end %>
</div>
