<% content_for :page_title do %>
  <%= Spree.t(:dashboard) %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Spree.t(:product) %></th>
      <th><%= Spree.t(:final_price) %></th>
      <th><%= Spree.t(:quantity) %></th>
      <th><%= Spree.t(:sale_date) %></th>
      <th><%= Spree.t(:action_col) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Super product</td>
      <td>$1023.54</td>
      <td>500</td>
      <td><%=Time.zone.now.strftime("%m/%d/%Y %H:%M")%></td>
      <td><ul>
        <li><a href="#">Track</a></li>
        <li><a href="#">Receipt</a></li>
        <li><a href="#">Message</a></li>
        <li><a href="#">Reorder</a></li>
      </ul></td>
    </tr>
    <tr>
      <td>Awesome product</td>
      <td>$1056.32</td>
      <td>500</td>
      <td><%=Time.zone.now.strftime("%m/%d/%Y %H:%M")%></td>
      <td><ul>
        <li><a href="#">Track</a></li>
        <li><a href="#">Receipt</a></li>
        <li><a href="#">Message</a></li>
        <li><a href="#">Reorder</a></li>
      </ul></td>
    </tr>
  </tbody>
</table>
