<div class="batman-user-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
            <li class="active"><a href="#exchange" id="auction-tab" data-toggle="tab"><%= Spree.t(:exchange) %></a></li>
          <% end %>
          <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
            <li class="active"><a href="#auctions" id="auction-tab" data-toggle="tab"><%= Spree.t(:my_auctions) %></a></li>
          <% end %>
          <li><a href="#messages" id="message-tab"><%= Spree.t(:messages) %></a></li>
          <li><a href="#favorite-items" data-toggle="tab"><%= Spree.t(:favorite_items) %></a></li>
          <li><a href="#account-settings" data-toggle="tab"><%= Spree.t(:account_settings) %></a></li>
          <li><a href="#support" data-toggle="tab"><%= Spree.t(:support) %></a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
            <div class="tab-pane active" id="exchange"><%= render partial: 'spree/dashboards/seller/exchange' %></div>
          <% end %>
          <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
            <div class="tab-pane active" id="auctions"><%= render partial: 'spree/dashboards/buyer/auctions' %></div>
          <% end %>
          <div class="tab-pane" id="messages"><%= render partial: 'spree/dashboards/shared/messages' %></div>
          <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
            <div class="tab-pane" id="favorite-items"><%= render partial: 'spree/dashboards/buyer/favorite_items' %></div>
          <% end %>
          <div class="tab-pane" id="account-settings"><%= render partial: 'spree/dashboards/shared/account_settings' %></div>
          <div class="tab-pane" id="support"><%= render partial: 'spree/dashboards/shared/support' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
