<div class="batman-user-dashboard batman-nav-pills">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <% active_me = 'active' if @tab.nil? %>
          <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
            <% active_me = 'active' if ['won_auction', nil].include? @tab %>
            <li class="<%= active_me %>"><a href="#exchange" id="auction-tab" data-toggle="tab"><%= Spree.t(:marketplace) %></a></li>
            <% active_me = nil %>
          <% end %>
          <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
            <li class="<%= active_me %>"><a href="#auctions" id="auction-tab" data-toggle="tab"><%= Spree.t(:my_auctions) %></a></li>
            <li><a href="#purchase-history" id="purchase-history-tab" data-toggle="tab"><%= Spree.t(:purchase_history) %></a></li>
            <li><a href="#favorite-items" data-toggle="tab"><%= Spree.t(:favorite_items) %></a></li>
            <% active_me = nil %>
          <% end %>
          <% active_me = 'active' if ['address', 'logo'].include? @tab %>
          <li class="<%= active_me %>"><a href="#account-settings" data-toggle="tab"><%= Spree.t(:account_settings) %></a></li>
          <li><a href="#support" data-toggle="tab"><%= Spree.t(:support) %></a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <% active_me = nil %>
          <% active_me = 'active' if @tab.nil? %>
          <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
            <% active_me = 'active' if ['won_auction', nil].include? @tab %>
            <div class="tab-pane <%= active_me %>" id="exchange"><%= render partial: 'spree/dashboards/seller/exchange' %></div>
            <% active_me = nil %>
          <% end %>
          <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
            <div class="tab-pane <%= active_me %>" id="auctions"><%= render partial: 'spree/dashboards/buyer/auctions' %></div>
            <div class="tab-pane" id="purchase-history"><%= render partial: 'spree/dashboards/buyer/purchase_history' %></div>
            <% active_me = nil %>
          <% end %>
          <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
            <div class="tab-pane" id="favorite-items"><%= render partial: 'spree/dashboards/buyer/favorite_items' %></div>
          <% end %>
          <% active_me = 'active' if ['address', 'logo'].include? @tab %>
          <div class="tab-pane <%= active_me %>" id="account-settings"><%= render partial: 'spree/dashboards/shared/account_settings' %></div>
          <div class="tab-pane" id="support"><%= render partial: 'spree/dashboards/shared/support' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
