<div id="pxusers-new-view">
  <div class="container">
    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">
        <ul class="nav nav-pills">
          <% active_me = '' %>
          <% active_me = 'active' if @is_buyer %>
          <li class="<%= active_me %>"><a href="#buyer" id="pxusers-buyer-tab" data-toggle="tab"><%= Spree.t(:register_as_buyer) %></a></li>
          <% active_me = '' %>
          <% active_me = 'active' unless @is_buyer %>
          <li class="<%= active_me %>"><a href="#seller" id="pxusers-seller-tab" data-toggle="tab"><%= Spree.t(:register_as_seller) %></a></li>
        </ul>
        <div class="tab-content">
          <% active_me = '' %>
          <% active_me = 'active' if @is_buyer %>
          <div class="tab-pane <%= active_me %>" id="buyer">
            <h4><%= Spree.t(:buyer_registration) %></h4>
            <%= form_for @pxuser, url: '/pxusers', method: :post, class: 'form' do |f| %>
              <%= render 'spree/shared/error_messages', :object => @pxuser %>
              <%= render partial: 'spree/pxusers/address_form', locals: { f: f, :type => 'buyer' } %>
            <% end %>
          </div>
          <% active_me = '' %>
          <% active_me = 'active' unless @is_buyer  %>
          <div class="tab-pane <%= active_me %>" id="seller">
            <h4><%= Spree.t(:seller_registration) %></h4>
            <%= form_for @pxuser, url: '/pxusers', method: :post, class: 'form' do |f| %>
              <%= render 'spree/shared/error_messages', :object => @pxuser %>
              <%= render partial: 'spree/pxusers/address_form', locals: { f: f, :type => 'seller' } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
  </div>
</div>
<div class="modal fade" id="user-agreement" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h2><%= Spree.t(:user_agreement) %></h2></div>
      <div class="modal-body scrolling">
        <%= render partial: 'spree/pxusers/user_agreement' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: 'spree/pxusers/confirmation_modal' %>
      </div>
    </div>
  </div>
</div>


<script>
  <% if flash["success"] %>
    $('#confirmation-modal').modal('show')
  <% end %>
</script>