<% if @auction.clone.nil? %>
  <div class="form-actions" data-hook="buttons">
    <%= button 'Start Auction', 'ok', 'submit', { class: 'btn-success' } %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), products_path, :icon => 'remove' %>
  </div>
<% else %>
  <div class="form-actions" data-hook="buttons">
    <%= button 'Purchase', 'ok', 'submit', { class: 'btn-success' } %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), root_path, :icon => 'remove' %>
  </div>
<% end %>
