<p>RE: Auction <%= @auction_payment.bid.auction.reference %></p>

<p>Buyer: <%= @auction_payment.bid.auction.buyer.billing_address.company %></p>
<p>Seller: <%= @auction_payment.bid.seller.billing_address.company %></p>

<p>Payment Status: <%= @auction_payment.status %></p>

<% if @auction_payment.status == 'failed' %>
  <p>Failure Code: <%= @auction_payment.failure_code %></p>
  <p>Failure Message: <%= @auction_payment.failure_message %></p>
<% end %>

<%= render partial: 'email_signature' %>
