<p>RE: Auction <%= @auction.reference %></p>

<p>It looks like <%= @auction.winning_bid.seller.shipping_address.full_name %> did not approve their selection for your order of  <%= @auction.product.name %>.<br>
Because your time is valuable we’ve reopened the auction and all of the prior bids are still available.<br>
All you have to do is click on the link below and you can select a new Seller immediately!</p>

<p>
  <a href="<%= Spree::Store.current.url %>/auctions/<%= @auction.id %>">
    <button type="button" class="btn btn-success">Restart Auction</button>
  </a>
</p>

<%= render partial: 'email_signature' %>
