<h4>New Product Ideation Request</h4>

<ul>
  <li>Company: <%= @product_request.buyer.shipping_address.company %> </li>
  <li>Request: <%= @product_request.request %> </li>
  <li>Project: <%= @product_request.title %> </li>
  <li>Budget: From <%= number_to_currency(product_request.budget_from)%> To <%= number_to_currency(product_request.budget_to) %> <li>
  <li>Quantity: <%= @product_request.quantity %> </li>
  <% if @product_request.request_type.present? %>
    <li>Request type: <%= @product_request.request_type %> </li>
  <% end %>
</ul>

<p>The PromoExchange Team</p>

<%= render partial: 'email_signature' %>
