<p>RE: Auction <%= @auction.reference %></p>

Congratulations! You selected <%= @auction.winning_bid.seller.shipping_address.company %> to process your <%= @auction.product.name %>  to process your (product name) order.

<%= @auction.winning_bid.seller.shipping_address.company %> to process your <%= @auction.product.name %> will begin processing your order immediately and updating the project status in your dashboard. All communications, proofs, and shipping details will be provided there.

Thank you for using the PromoExchange!
We look forward to hearing about your experience.

The PromoExchange Team
