<p>RE: Auction <%= @auction.reference %></p>

<p>It looks like your order for <%= @auction.product.name %> from <%= @auction.winning_bid.seller.shipping_address.company %> was recently delivered.</p>
<p>Please head over to your dashboard to confirm receipt and accuracy of the order.</p>
<p>We’d also appreciate your participation in rating your Seller to ensure we are providing all of our Buyers the best Sellers in the industry to work with.</p>
<p>
  <a href="http://<%= Spree::Store.current.url %>/invoices/<%= @auction.id %>">
    <button type="button" class="btn btn-success">Confirm Receipt</button>
  </a>
</p>
<p>The PromoExchange Team</p>

<%= render partial: 'shared/email_signature' %>
