<h4> Inspire Me Request </h4>

<p> eMail : <%= @inspire_me_request[:email] %> </p>
<p> Quantity: <%= @inspire_me_request[:quantity] %> </p>
<p> Budget From: <%= @inspire_me_request[:budget_from] %> </p>
<p> Budget To: <%= @inspire_me_request[:budget_to] %> </p>
<p> Request: <%= @inspire_me_request[:request] %> </p>

<% unless @product_request.nil? %>
  <% @product_request[:request_type].each do |type| %>
  <p><%= type %> </p>
  <% end %>
<% end %>
