<p>RE: Auction <%= @auction.reference %></p>

<p> Good news! The proof for <%= @auction.buyer.billing_address.company %> and their <%= @auction.product.name %> has been approved and is ready to go into production. </p>

<p> Please click on the button below. It will redirect you to the project on the Exchange to confirm the proof approval has been received and that the order is going into production. </p>

<p><a href="<%= Spree::Store.current.url %>/dashboards?tab=won_auction">
  <button class="btn btn-success" id="EmailButton">Go to production</button>
</a></p>

<p> The PromoExchange Team </p>

<%= render partial: 'email_signature' %>
