<p>RE: Auction <%= @auction.reference %></p>

<p>Payment request</p>

<p><%= @auction.winning_bid.seller.shipping_address.company %> has requested a payment request.</p>

<h2>Auction details</h2>
<table>
  <tr><td>Product:</td><td><%= @auction.product.name %></td></tr>
  <tr><td>Factory:</td><td><%= @auction.product.supplier.name %></td></tr>
  <tr><td>SKU:</td><td><%= @auction.product.sku %></td></tr>
  <tr><td>Buyer:</td><td><%= @auction.buyer.billing_address.full_name %></td></tr>
  <tr><td>Quantity:</td><td><%= @auction.quantity %></td></tr>
  <tr><td>Total Payment amount:</td><td><%= @auction.winning_bid.bid %></td></tr>
  <tr><td>PX Fee:</td><td><%= @auction.winning_bid.seller_fee %></td></tr>
</table>

<h2>Payment information</h2>
<table>
  <tr><td>Payment Type:</td><td><%= @params['payment_type'].humanize %></td></tr>
  <tr><td>Bank Name:</td><td><%= @params['bank_name'] %></td></tr>
  <tr><td>Bank Branch:</td><td><%= @params['bank_branch'] %></td></tr>
  <tr><td>Routing Number:</td><td><%= @params['bank_routing'] %></td></tr>
  <tr><td>Account Number:</td><td><%= @params['bank_acct_number'] %></td></tr>
</table>

<div class="email-signature">
  <div class="email-signature-icons">
    <style>
      div.email-signature-icons {padding-left:8px!important}

    </style>
    <a href="https://www.facebook.com/promobidz"><img class="Facebook-img" src="/Users/knobbie24/batman/app/assets/images/logo/facebook-3-24.png" alt="Facebook Icon"></a>
    <a href ="https://twitter.com/ThePromoX"><img class="Twitter-img" src="/Users/knobbie24/batman/app/assets/images/logo/twitter-3-24.png" alt="Twitter Logo"></a>
    <a href ="https://www.linkedin.com/company/promoexchange"><img class="LinkedIn-img" src="/Users/knobbie24/batman/app/assets/images/logo/linkedin-3-24.png" alt="LinkedIn Icon">
    </a>
  </div>
<br>
<a href ="http://thepromoexchange.com">
  <img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo" style=height="96px" width="96px">
</a>
</div>
