<h1>Your invoice</h1>

<table class="table">
  <tr><td>Auction #:</td><td><%= @auction.reference %></td></tr>
  <tr><td>Product:</td><td><%= @auction.product.name %></td></tr>
  <tr><td>Factory:</td><td><%= @auction.product.supplier.name %></td></tr>
  <tr><td>SKU:</td><td><%= @auction.product.sku %></td></tr>
  <tr><td>Buyer:</td><td><%= @auction.buyer.billing_address.full_name %></td></tr>
  <tr><td>Started:</td><td><time data-format='%B %e, %Y %l:%M%P' data-local='time' datetime='<%= @auction.started %>'><%= @auction.started %></time></td></tr>
  <tr><td>Quantity:</td><td><%= @auction.quantity %></td></tr>
  <tr><td>Imprint Method:</td><td><%= @auction.imprint_method.name %></td></tr>
  <tr><td>Main Color:</td><td><%= @auction.main_color.color %></td></tr>
  <tr><td>Payment Method:</td><td><%= @auction.payment_method %></td></tr>
  <tr>
    <td>Imprint Colors:</td>
    <td>
      <% @auction.pms_colors.each do |c| %>
        <p><%= c.name %>/<%= c.pantone %></p>
        <% end %>
    </td>
  </tr>
  <% unless @auction.logo.nil? %>
    <tr><td>Logo:</td><td><%= image_tag(@auction.logo.logo_file.url(:thumb), { itemprop: "image", alt: @auction.logo.logo_file_file_name }) %></td></tr>
  <% end %>
</table>

<h2>Your fee: <%= (@auction.winning_bid.bid * 0.03).round(2) %></h2>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
