<h2>Sales Receipt: <%= @purchase.reference %></h2>
<p>Date: <%= Time.zone.now.strftime('%m/%d/%Y') %></p>

<h4>Bill To:</h4>
<ul style='list-style: none;'>
  <li><%= @purchase.address.company %></li>
  <li><%= @purchase.address.address1 %></li>
  <li><%= @purchase.address.address2 %></li>
  <li>
    <%= @purchase.address.city %>,
    <%= @purchase.address.state_text %>,
    <%= @purchase.address.zipcode %>
  </li>
</ul>

<p>
<b>eMail used for payment:</b> <%= @payment_email %>
</p>

<h4>Order:</h4>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @purchase.product.name %></td>
      <td><%= @purchase.quantity %></td>
      <td><%= @purchase.order.item_total.to_f %></td>
    </tr>
  </tbody>
</table>

<p>PX Fee: <%= ((@purchase.seller_fee / (1 - 0.029)) + 0.30).round(2) %></p>

<p>Please contact support@thepromoexchange.com immediately if you cannot fulfill this order</p>
