<p>RE: Auction <%= @auction.reference %></p>

<p> Looks like 2 days have passed and the virtual proof for the <%= @auction.product.name %> for <%= @auction.buyer.billing_address.full_name %> has not been uploaded for review. Please click on the link below and it will take you over to the project in your dashboard. If a proof is not uploaded immediately you will be at risk of losing the project. </p>

<p><a href="<%= Spree::Store.current.url %>/dashboards?tab=won_auction">
  <button class="btn btn-success" id="EmailButton">Dashboard</button>
</a></p>

<p> The PromoExchange Team </p>

<%= render partial: 'email_signature' %>
