<p>RE: Auction <%= @auction.reference %></p>

<p>Oh no! Looks like <%= @auction.buyer.billing_address.company %> has an issue with their order of <%= @auction.product.name %> from auction <%= @auction.reference %>.</p>

<p>A PX representative will be reaching out to you shortly to discuss the matter but in the meantime please check out the feedback they left below addressing the issue. </p>

<%= @rejection_reason %>

<p>Don’t worry, we’ll get to the bottom of this ASAP!</p>

<p> The PromoExchange Team </p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
