<p>RE: Auction <%= @auction.reference %></p>

<p>The proof for <%= @auction.buyer.billing_address.company %> and their <%= @auction.product.name %> has been rejected for the reasons below. Please review the feedback and provide a revised proof immediately. </p>

<p><span style="background: #d3d3d3">" <%= @auction.proof_feedback %> "<span></p>

<p><a href="http://<%= Spree::Store.current.url %>/invoices/<%= @auction.id %>">
  <button type="button" class="btn btn-success">Go Back</button>
</a></p>

<p>The PromoExchange Team</p>

<%= render partial: 'shared/email_signature' %>
