<h1>Proof Rejected</h1>

<p>The proof for <%= @auction.buyer.billing_address.full_name %> and their <%= @auction.product.name %> has been rejected for the reasons below. Please review the feedback and provide a revised proof immediately. </p>

<p><span style="background: #d3d3d3">" <%= @auction.proof_feedback %> "<span></p>

<p><a href="<%= Spree::Store.current.url %>/invoices/<%= @auction.id %>">
  <button style="width: 150; height: 40px; font-size: 20px; background: #4CAE4C;">Go to Back</button>
</a></p>

<p>The PromoExchange Team</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">