<p>RE: Auction <%= @auction.reference %></p>

<p> Good news! The buyer for <%= @auction.buyer.billing_address.company %> and their auction <%= @auction.reference %> has has rated your service. </p>

<p class="star-rating">
  <% for i in 1..@auction.review.rating.to_i %>
    <%= image_tag attachments['star-1.png'].url %>
  <% end %>
  <% if @auction.review.rating.modulo(1) != 0 %>
    <%= image_tag attachments['star-2.png'].url %>
  <% end %>
  <% for i in 1..@rating_value %>
    <%= image_tag attachments['star-3.png'].url %>
  <% end %>
</p>

<p><%= @auction.review.review %></p>

<p> The PromoExchange Team </p>

<%= render partial: 'email_signature' %>
