<p>RE: Auction <%= @auction.reference %></p>

<p>Congratulations! You are the winning bidder on the auction for <%= @auction.product.name %> posted by <%= @auction.shipping_address.company %>. Click on the link below to confirm your acceptance.  You have until 12 AM of the next business day to do so. If you do not confirm the order within that time you will be at risk of losing the project.</p>


<p><a href="http://<%= Spree::Store.current.url %>/invoices/<%= @auction.id %>">
<<<<<<< HEAD
<!-- <<<<<<< HEAD -->
  <button type="button" class="btn btn-success">Confirm</button>
<!-- ======= 
  <button style="width: 120px; height: 40px; font-size: 14px; background: #4CAE4C;">Confirm</button>
=======
<!-- ===== HEAD -->
  <button type="button" class="btn btn-success">Confirm</button>
<!-- ======= -->
<!--  <button style="width: 120px; height: 40px; font-size: 14px; background: #4CAE4C;">Confirm</button>
>>>>>>> origin/Connor-Dev
>>>>>>> origin/Connor-Dev -->
</a></p>

<table>
  <tr><td>Auction #:</td><td><%= @auction.reference %></td></tr>
  <tr><td>Product:</td><td><%= @auction.product.name %></td></tr>
  <tr><td>Factory:</td><td><%= @auction.product.supplier.name %></td></tr>
  <tr><td>SKU:</td><td><%= @auction.product.sku %></td></tr>
  <tr><td>Buyer:</td><td><%= @auction.buyer.billing_address.full_name %></td></tr>
  <tr><td>Auction Started:</td><td><%= @auction.started.strftime('%B %e, %Y') %></td></tr>
  <tr><td>Quantity:</td><td><%= render partial: '/spree/shared/auction_size_detail', locals: {auction: @auction} %></td></tr>
  <tr><td>Imprint Method:</td><td><%= @auction.imprint_method.name %></td></tr>
  <tr><td>Main Color:</td><td><%= @auction.main_color.color %></td></tr>
  <tr><td>Total Payment amount:</td><td><%= @auction.winning_bid.bid %></td></tr>
  <tr><td>Custom PMS Colors:</td><td><%= @auction.custom_pms_colors %></td></tr>
  <tr>
    <td>Imprint Colors:</td>
    <td>
      <% @auction.pms_colors.each do |c| %>
        <p><%= c.name %>/<%= c.pantone %></p>
        <% end %>
    </td>
  </tr>
  <tr><td>Expected Delivery Date:</td><td><%= 15.days.from_now.strftime('%B %e, %Y') %></td></tr>
  <% unless @auction.logo.nil? %>
    <tr><td>Logo:</td><td><%= image_tag(@auction.logo.logo_file.url(:thumb), { itemprop: "image", alt: @auction.logo.logo_file_file_name }) %></td></tr>
  <% end %>
  <tr>
    <td>Shipping Address:</td>
    <td>
      <ul style='list-style-type: none; margin-left: -40px;'>
        <li><%= @auction.shipping_address.firstname %>&nbsp;<%= @auction.shipping_address.lastname %></li>
        <li><%= @auction.shipping_address.company %></li>
        <li><%= @auction.shipping_address.address1 %></li>
        <li><%= @auction.shipping_address.address2 %></li>
        <li><%= @auction.shipping_address.city %></li>
        <li><%= @auction.shipping_address.state_text %>&nbsp;<%= @auction.shipping_address.zipcode %></li>
      </ul>
    </td>
  </tr>
</table>

<p>Your fee:</p>
<p><%= ((@auction.winning_bid.seller_fee / (1 - 0.029)) + 0.30).round(2) %> if paid by Credit Card</p>
<p><%= (@auction.winning_bid.seller_fee / (1 - 0.015)).round(2) %> if paid by Web Check/ACH</p>

<p>Payment is due by <%= (Date.today + 10.days).strftime("%D") %></p>

<p>Please contact the Buyer (<%= @auction.buyer.bill_address.phone %>/<%= @auction.buyer.email %>) by the end of the next business day to begin making delivery and payment arrangements.</p>
<p>Failure to do so can cause this order to be awarded to another Seller and can jeopardize your membership in the PromoExchange community.</p>



<%= render partial: 'email_signature' %>
