<div class="modal" id="new-logo-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Upload Logo</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <%= form_for @logo, multipart: true, url: main_app.logos_path, class: 'form' do |f| %>
              <%= f.hidden_field :user_id, value: spree_current_user.id %>
              <div class="form-group">
                <%= f.label :logo_file, Spree.t(:add_logo) %>
                <%= f.file_field :logo_file, class: 'form-control' %>
                <p>Acceptable file formats: (.ai, .pdf, .eps, .psd)</p>
                <%= button 'Upload', 'ok', 'submit', {class: 'btn-success'} %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>
