<div class="top-bids col-md-12 well">
  <h4>Top Bids</h4>
  <table class='table'>
    <thead>
      <tr>
        <th><%= Spree.t(:seller) %></th>
        <th><%= Spree.t(:rating) %></th>
        <th><%= Spree.t(:bid) %></th>
        <th class="actions"><%= Spree.t(:action_col) %></th>
      </tr>
    </thead>
    <tbody>
      <% @auction.bids.each do |b| %>
        <% row_class = '' %>
        <% row_class = 'preferred' if @auction.preferred?(b.seller) %>
        <tr class="<%= row_class %>">
          <% if b.seller.shipping_address.nil? %>
            <td>&nbsp;</td>
          <% else %>
            <td><%= b.seller.shipping_company %> -  <%=b.seller.shipping_name %></td>
          <% end %>
          <td><%= render 'spree/dashboards/shared/stars', stars: b.seller.stars, edit_enabled: false %></td>
          <td><%= '$%.2f' % b.bid %></td>
          <td>
            <% if b.accepted? %>
              <% if @auction.unpaid? && !b.manage_workflow %>
                Completed
              <% else %>
                <%= @auction.bids_status[@auction.state.to_sym] %>
              <% end %>
            <% else %>
              <% if (b.lost? && @auction.waiting?) or b.open? %>
                <%= link_to 'Accept', '#', class: 'accept-link', data: {id: b.id, bid: b.bid, preferred: b.auction.preferred?(b.seller)} %>
              <% elsif b.rejected? %>
                Failed to Accept Prior Selection
              <% else %>
                Lost
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render partial: 'spree/auctions/payment_modal' %>
<%= render partial: 'spree/auctions/manage_workflow' %>
<%= render partial: 'spree/auctions/manage_project_off_site' %>
<%= render partial: 'spree/dashboards/buyer/rating_modal' %>
