<div class="top-bids col-md-12 well">
  <h4>Top Bids</h4>
  <table class='table'>
    <thead>
      <tr>
        <th><%= Spree.t(:seller) %></th>
        <th><%= Spree.t(:rating) %></th>
        <th><%= Spree.t(:bid) %></th>
        <th class="actions"><%= Spree.t(:action_col) %></th>
      </tr>
    </thead>
    <tbody>
      <% seen = [] %>
      <% @auction.bids.each do |b| %>
        <% row_class = '' %>
        <% row_class = 'preferred' if @auction.preferred?(b.seller) %>
        <% unless seen.include? b.seller %>
          <% seen.push(b.seller) %>
          <tr class="<%= row_class %>">
            <td><%= b.email %></td>
            <td><%= render 'spree/dashboards/shared/stars', stars: b.seller.stars %></td>
            <td><%= '$%.2f' % b.bid %></td>
            <% unless (@auction.open? or @auction.waiting?) %>
              <td>Completed</td>
            <% else %>
              <td>
                <% unless b.rejected? %>
                  <%= link_to 'Accept', '#', class: 'accept-link', data: {id: b.id, bid: b.bid, preferred: b.auction.preferred?(b.seller)} %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= render partial: 'spree/auctions/payment_modal' %>