<% content_for :head do %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>');
</script>
<% end %>

<div class="cs-page row" id="show-invoice">
  <% if spree_current_user && spree_current_user.has_spree_role?(:buyer) %>
    <% if (@auction.open? or @auction.waiting?) and ( @bid.open? or @bid.lost?) %>
      <div class="form-group error">
        <ul></ul>
      </div>
      <div class="form-group">
        <%= label_tag(:payment_method, "Payment Method") %>
        <ul class="list-group customer-listing">
          <% @customers.each do |customer| %>
            <li class='list-group-item customer-listing'>
              <%= radio_button_tag('auction[customer_id]', customer.id) %> <%= label_tag("#{customer.brand}##{customer.last_4_digits}")%>
            </li>
          <% end %>
        </ul>
      </div>
      <p><%= link_to "Add Payment Method", "/dashboards?tab=payment_method", target: '_blank' %></p>
      <div class="form-group">
        <%= label_tag(:shipping_address_id, 'Shipping Address') %>
        <%= select_tag(:shipping_address_id, options_for_select(@addresses, @auction.shipping_address_id),
           { prompt: 'Please Select' ,  class: 'form-control' }) %>
      </div>
      <p><a href="#" id="add-address-link" data-toggle="modal" data-target="#auction-add-address">Add Address</a></p>
      <div class="form-group">
        <%= button 'Submit', 'ok', 'submit', { class: 'btn-success', id: 'accept-bid', data: {bid: @bid.id} } %>
      </div>
    <% end %>
    <div class="col-md-6 well">
      <% if @bid.accepted? and @auction.waiting_confirmation? %>
        <div class="form-group">
          <p>Thanks for your order! We will be processing your payment and <%= @bid.seller.shipping_name %> will be confirming and processing your order shortly. </p>
        </div>
        <div class="form-group text-center">
          <%= link_to 'Dashboard', '/dashboards?tab=purchase_history', class: 'btn btn-success', id: 'DashboardButton' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-6">
      <form action="/csaccept/<%= @bid.id %>" method="GET">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%=ENV['STRIPE_PUBLISHABLE_KEY']%>"
          data-amount=<%= @bid.bid.to_f * 100 %>
          data-name="<%= @current_company_store.slug.titleize %>"
          data-description="<%= @auction.name %>"
          data-image="/images/px_logo.png"
          data-allow-remember-me="false"
          data-locale="auto">
        </script>
      </form>
      <div>
        <h3>Shipped to:</h3>
        <ul class="display-address-ul">
          <li><%= @auction.shipping_address.company %></li>
          <li><%= @auction.shipping_address.address1 %></li>
          <li><%= @auction.shipping_address.address2 %></li>
          <li><%= @auction.shipping_address.city %></li>
          <li><%= @auction.shipping_address.state_text %>&nbsp;<%= @auction.shipping_address.zipcode %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-md-6">
    <% url = spree.product_url(@auction.product) %>
    <div>
      <div class="col-md-3"><%= link_to small_image(@auction.product, itemprop: "image"), url, itemprop: 'url' %></div>
      <div class="col-md-9"><br><%= @auction.product.description %></div>
    </div>
    <table id="auction-product-properties" class="table table-striped">
      <tbody>
        <tr><td><strong>Color:</strong></td><td><%= @auction.main_color.color %></td></tr>
        <tr><td><strong>QTY:</strong></td><td><%= render partial: 'spree/shared/auction_size_detail', locals: {auction: @auction} %></td></tr>
        <tr><td><strong>Total Amount:</strong></td><td><%= number_to_currency(@bid.bid) %></td></tr>
      </tbody>
    </table>
  </div>
</div>

<% if @auction.clone_id.nil? %>
  <%= render partial: 'spree/auctions/address_modal' %>
<% end %>
