<% content_for :page_title do %>
<%= Spree.t(:auction) %>
<% end %>

<div class="row" id="new-auction">
  <div class="col-md-6">
    <% url = spree.product_url(@auction.product) %>
    <%= link_to large_image(@auction.product, itemprop: "image"), url, itemprop: 'url' %><br/>
    <p><%= @auction.product.description %></p>

    <h5>Factory: <%= @auction.product.supplier.name %></h5>
    <h5>SKU: <%= @auction.product.sku %></h5>

    <%= render partial: 'spree/shared/properties' %>
  </div>
  <div class="col-md-6 well">
    <h2><%= @auction.product.name %></h2>
    <%= form_for @auction, url: main_app.auctions_path, class: 'form' do |f| %>
    <% if @auction.errors.any? %>
      <p class="alert alert-error">Errors</p>
      <ul>
        <% @auction.errors.messages.each do |k,v| %>
          <li class="error"><%= "#{k.to_s.humanize} #{v.to_s.humanize}" %></li>
        <% end %>
      </ul>
    <% end %>

    <% @request_idea_id ||= params[:request_idea_id] %>
    
    <%= f.hidden_field :product_id, value: @auction.product.id %>
    <%= f.hidden_field :buyer_id, value: @auction.buyer_id %>
    <%= f.hidden_field :invited_sellers, value: '' %>
    <%= f.hidden_field :request_idea, value: @request_idea_id %>
    <fieldset>
      <div class="form-group" id="imprint-methods">
        <%= f.label(:imprint_method_id, Spree.t(:imprint_method)) %>
        <%= f.select :imprint_method_id, options_for_select(@imprint_methods),
          { prompt: 'Please Select' }, { class: 'form-control' } %>
      </div>

      <p><a href="#" data-toggle="modal" data-target="#imprint-definitions-modal">Imprint Method Definitions</a></p>

      <div class="form-group">
        <%= f.label :logo_id, Spree.t(:logo) %>
        <%= f.select :logo_id,
          @user.logos.map { |l| [ l.logo_file_file_name, l.id,
            { 'data-img-src' => l.logo_file.url(:thumb) }] },
            { prompt: 'Please Select' } , { class: 'image-picker form-control' } %>
      </div>

      <p><a href="#" id="new-logo-link" data-toggle="modal" data-target="#new-logo-modal">Add Logo</a></p>

      <div class="form-group color-hideable" style="display: none;">
        <%= f.label(:pms_color_swatch, Spree.t(:pms_colors)) %>
        <div>
          <% @pms_colors.each do |cell| %>
            <div class="imprint_swatch imprint_swatch_<%= cell[5] %>">
              <div class="swatch swatch-clickable" id="<%= cell[0] %>" name="<%= cell[4] %>" style="background-color:<%= cell[2] %>"></div>
              <span class="pms-text"><%= cell[1] %><br/><%= cell[3] %></span>
            </div>
          <% end %>
          <div class="imprint_swatch imprint_swatch_custom">
            <div class="swatch custom-swatch-clickable", title="Add Custom PMS Color">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
            <span class="pms-text">Add Custom <br/> PMS Color</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <input class="form-control tagsinput" data-role="tagsinput" id="auction_pms_colors" name="auction[pms_colors]" type='text'></input>
        <p>Maxmimum Number of PMS Imprint Colors: 2</p>
      </div>

      <div class="form-group custom-color-hideable" style="display: none;">
        <%= f.label(:custom_pms_colors, Spree.t(:custom_pms_colors)) %>
        <%= f.text_field(:custom_pms_colors, class: 'form-control')%>
      </div>

      <div class="form-group">
        <%= f.label(:quantity, Spree.t(:quantity)) %>
        <%= f.number_field(:quantity, class: 'form-control', placeholder: "Minimum Quantity: #{@auction.product.minimum_quantity}")%>
      </div>

      <div class="form-group">
        <%= f.label(:shipping_address_id, 'Shipping Address') %>
        <%= f.select(:shipping_address_id, options_for_select(@addresses),
          { prompt: 'Please Select' }, { class: 'form-control' }) %>
      </div>
      <p><a href="#" id="add-address-link" data-toggle="modal" data-target="#auction-add-address">Add Address</a></p>

      <div class="form-group">
        <%= f.label(:main_color_id, 'Product Color') %>
        <%= f.select(:main_color_id, options_for_select(@main_colors),
          { prompt: 'Please Select'}, { class: 'form-control' }) %>
      </div>

      <div class="form-group">
        <%= f.label(:payment_method, 'Payment Method') %>
        <%= f.select(:payment_method, options_for_select(
          [['Credit Card', 'Credit Card'],['Web Check', 'Check']]),
          { prompt: 'Please Select' }, { class: 'form-control' }) %>
      </div>
      <% if @request_idea_id.blank? %>
        <p><a href="#" id="invite-sellers-link" data-toggle="modal" data-target="#invite-sellers-modal">Invite Sellers</a></p>
      <% end %>
      <p>Estimated delivery date: <time data-format='%B %e, %Y' data-local='time' datetime='<%= 15.days.from_now %>'><%= 15.days.from_now %></time></p>
      <div class="form-actions" data-hook="buttons">
        <%= button 'Start Auction', 'ok', 'submit', { class: 'btn-success' } %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), products_path, :icon => 'remove' %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
<%= render partial: 'spree/auctions/invite_sellers_modal' %>
<%= render partial: 'spree/auctions/imprint_definitions_modal' %>
<%= render partial: 'spree/auctions/new_logo_modal' %>
<%= render partial: 'spree/auctions/address_modal' %>
