<% content_for :page_title do %>
<%= Spree.t(:auction) %>
<% end %>

<div class="cs-page row" id="new-auction" data-key="<%= spree_current_user.spree_api_key if spree_current_user %>">
  <div class="col-md-6">
    <% url = spree.product_url(@auction.product) %>
    <%= link_to large_image(@auction.product, itemprop: "image", width: '400px'), url, itemprop: 'url' %><br/>
    <p><%= @auction.product.description %></p>

    <h5>Factory: <%= @auction.product.supplier.name %></h5>
    <h5>SKU: <%= @auction.product.sku %></h5>

    <%= render partial: 'spree/shared/properties' %>
  </div>
  <div class="col-md-6 well">
    <h2><%= @auction.product.name %></h2>
    <% url = @auction.id.present? ? main_app.auction_path(@auction) : main_app.auctions_path %>
    <%= form_for @auction, url: url, class: 'form' do |f| %>
    <% if @auction.errors.any? %>
      <p class="alert alert-error">Errors</p>
      <ul>
        <% @auction.errors.full_messages.each do |message| %>
          <li class="error"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <% @request_idea_id ||= params[:request_idea_id] %>

    <%= f.hidden_field :product_id, value: @auction.product.id %>
    <%= f.hidden_field :buyer_id, value: spree_current_user.id if spree_current_user %>
    <%= f.hidden_field :invited_sellers, value: '' %>
    <%= f.hidden_field :request_idea, value: @request_idea_id %>
    <%= f.hidden_field :clone_id, value: @auction.clone_id %>
    <fieldset>
      <%= render partial: 'spree/auctions/new/imprint_method', locals: {f: f}%>
      <%= render partial: 'spree/auctions/new/logos', locals: {f: f} %>
      <%= render partial: 'spree/auctions/new/pms_swatch', locals: {f: f} %>
      <%= render partial: 'spree/auctions/new/quantity', locals: {f: f} %>
      <%= render partial: 'spree/auctions/new/ship_to', locals: {f: f} %>
      <%= render partial: 'spree/auctions/new/main_color', locals: {f: f} %>

      <% if @auction.clone.nil? %>
        <% if @request_idea_id.blank? %>
          <p><a href="#" id="invite-sellers-link" data-toggle="modal" data-target="#invite-sellers-modal" class="btn btn-info btn-xs">Invite Sellers</a></p>
        <% end %>
        <p>Estimated delivery date: <%= @estimated_ship_date.strftime('%B %e, %Y') %></p>
      <% end %>

      <%= render partial: 'spree/auctions/new/price_breaks', locals: {f: f} %>
      <%= render partial: 'spree/auctions/new/buttons', locals: {f: f} %>
    </fieldset>
    <% end %>
  </div>
</div>
<% if spree_current_user %>
  <%= render partial: 'spree/auctions/invite_sellers_modal' %>
  <%= render partial: 'spree/auctions/new_logo_modal' %>
<% end %>
<%= render partial: 'spree/auctions/imprint_definitions_modal' %>
