<% content_for :page_title do %>
  <%= Spree.t(:auction) %>
<% end %>

<div class="row" id="new-auction">
  <div class="col-md-6">
    <% url = spree.product_url(@auction.product) %>
    <%= link_to large_image(@auction.product, itemprop: "image"), url, itemprop: 'url' %><br/>
    <p><%= @auction.product.description %></p>
    <%= render partial: 'properties' %>
  </div>
  <div class="col-md-6 well">
    <h2><%= @auction.product.name %></h2>
    <%= form_for @auction, url: main_app.auctions_path do |f| %>
    <%= f.hidden_field :product_id, value: @auction.product.id %>
    <%= f.hidden_field :buyer_id, value: @auction.buyer_id %>
    <fieldset>
      <div class="form-group" id="imprint-methods">
        <%= f.label(:imprint_method_id, Spree.t(:imprint_method)) %>
        <%= f.select(:imprint_method_id, options_for_select(@imprint_methods),:prompt => 'Select') %>
      </div>

      <div class="form-group" id="auction-logo">
        <label for="logo">Logo</label>
        <select class="image-picker show-html" id="logo">
          <option data-img-src="<%=image_path('corp_logo/batman-logo-big.gif')%>" value="1">Batman</option>
          <option data-img-src="<%=image_path('corp_logo/buzzfeed-logo.png')%>" value="2">Buzzfeed</option>
          <option data-img-src="<%=image_path('corp_logo/coca_cola_logo.jpg')%>" value="3">Cola</option>
        </select>
      </div>

      <div class="form-group">
        <%= f.label(:pms_color_swatch, Spree.t(:pms_colors)) %>
        <table id="pms_color_swatch" class="table">
          <tbody>
            <% @pms_colors.in_groups_of(6,false) do |row| %>
            <tr>
              <% for cell in row %>
                <td><div id="<%=cell[:pms_color_id]%>" name="<%=cell[:name]%>" class="swatch swatch-clickable" style="background-color:<%=cell[:hex]%>"></div>
                  <span class="pms-text"><%= cell[:display_name] %><br/><%= cell[:pantone] unless cell[:display_name] == cell[:pantone] %></span>
                </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <!-- <input class="form-control tagsinput" data-role="tagsinput" id="pms-colors"
          name="auction[pms_colors]" type="text"> -->
        <input class="form-control tagsinput" data-role="tagsinput" id="pms-colors"
          name="pms_colors" type="text">
        <p>Maxmimum number of PMS imprint colors: 2</p>
      </div>

      <div class="form-group">
        <%= f.label(:quantity, Spree.t(:quantity)) %>
        <%= f.number_field(:quantity) %>
      </div>

      <div class="form-group">
        <%= label(:shipping_address_id, Spree.t(:shipping_address)) %>
        <%= f.select(:shipping_address_id, options_for_select(@addresses), :prompt => 'Select') %>
      </div>
      <%= link_to 'Add new address', spree.account_path(spree_current_user) %>

      <div class="form-group">
        <%= label(:main_color_id, Spree.t(:main_color)) %>
        <%= f.select(:main_color_id, options_for_select(@main_colors), :prompt => 'Select') %>
      </div>

      <div class="form-group">
        <%= label(:payment_method, Spree.t(:payment_method)) %>
        <%= f.select(:payment_method, options_for_select(
          [['Credit Card','Credit Card'],['Check','Check']]),
          :prompt => 'Select') %>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button 'Start Auction', 'ok', 'submit', {class: 'btn-success'} %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), products_path, :icon => 'remove' %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
