<% content_for :page_title do %>
<%= Spree.t(:auction) %>
<% end %>

<div class="row" id="new-auction">
  <div class="col-md-6">
    <% url = spree.product_url(@auction.product) %>
    <%= link_to large_image(@auction.product, itemprop: "image"), url, itemprop: 'url' %><br/>
    <p><%= @auction.product.description %></p>

    <h5>Factory: <%= @auction.product.supplier.name %></h5>
    <h5>SKU: <%= @auction.product.sku %></h5>

    <%= render partial: 'spree/shared/properties' %>
  </div>
  <div class="col-md-6 well">
    <h2><%= @auction.product.name %></h2>
    <%= form_for @auction, url: main_app.auctions_path, class: 'form' do |f| %>
    <%= f.hidden_field :product_id, value: @auction.product.id %>
    <%= f.hidden_field :buyer_id, value: @auction.buyer_id %>
    <fieldset>
      <div class="form-group" id="imprint-methods">
        <%= f.label(:imprint_method_id, Spree.t(:imprint_method)) %>
        <%= f.select :imprint_method_id, options_for_select(@imprint_methods),
          { prompt: 'Please Select' }, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label :logo_id, Spree.t(:logo) %>
        <%= f.select :logo_id,
          @user.logos.map { |l| [ l.logo_file_file_name, l.id,
            { 'data-img-src' => l.logo_file.url(:thumb) }] },
            { prompt: 'Please Select' } , { class: 'image-picker form-control' } %>
      </div>

      <div class="form-group">
        <%= f.label(:pms_color_swatch, Spree.t(:pms_colors)) %>
        <table class="table" id="pms_color_swatch">
          <tbody>
            <% @pms_colors.in_groups_of(6,false) do |row| %>
            <tr>
              <% for cell in row %>
              <td>
                <div class="swatch swatch-clickable" id="<%= cell[:pms_color_id] %>" name="<%= cell[:name] %>" style="background-color:<%= cell[:hex] %>"></div>
                <span class="pms-text"><%= cell[:display_name] %><br/><%= cell[:pantone] unless cell[:display_name] == cell[:pantone] %></span>
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <input class="form-control tagsinput" data-role="tagsinput" id="pms-colors" name="auction[pms_colors]" type='text'></input>
        <p>Maxmimum Number of PMS Imprint Colors: 2</p>
      </div>

      <div class="form-group">
        <%= f.label(:quantity, Spree.t(:quantity)) %>
        <%= f.number_field(:quantity, class: 'form-control')%>
      </div>

      <div class="form-group">
        <%= f.label(:shipping_address_id, 'Shipping Address') %>
        <%= f.select(:shipping_address_id, options_for_select(@addresses),
          { prompt: 'Please Select' }, { class: 'form-control' }) %>
      </div>

      <div class="form-group">
        <%= f.label(:main_color_id, 'Product Color') %>
        <%= f.select(:main_color_id, options_for_select(@main_colors),
          { prompt: 'Please Select'}, { class: 'form-control' }) %>
      </div>

      <div class="form-group">
        <%= f.label(:payment_method, 'Payment Method') %>
        <%= f.select(:payment_method, options_for_select(
          [['Credit Card', 'Credit Card'],['Check', 'Check']]),
          { prompt: 'Please Select' }, { class: 'form-control' }) %>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button 'Start Auction', 'ok', 'submit', { class: 'btn-success' } %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), products_path, :icon => 'remove' %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
