<%= f.hidden_field :address_id, value: 0 %>

<%= f.fields_for :address, class: 'form' do |f| %>
  <div class="form-group">
    <%= f.text_field(:company, class: 'form-control', placeholder: 'Company Name')%>
    <br />
    <%= f.text_field(:address1, class: 'form-control', placeholder: 'Address 1')%>
    <br />
    <%= f.text_field(:address2, class: 'form-control', placeholder: 'Address 2')%>
    <br />
    <%= f.text_field(:city, class: 'form-control', placeholder: 'City')%>
    <br />
    <div class="row">
      <div class="col-md-8">
        <%= f.select :state, options_for_select(@states.map { |state| [state.name, state.id] }), {}, { class: 'form-control' } %>
      </div>
      <div class="col-md-4">
        <%= f.text_field(:zipcode, class: 'form-control', placeholder: 'Zip Code')%>
      </div>
    <div>
  </div>
<% end %>
