<div class="form-group purchase-size" id="purchase-size" min-quantity="<%= @product.minimum_quantity %>">
  <div class="row">
    <div class="col-md-12">
      <%= f.label(:quantity, Spree.t(:quantity)) %>:
      <% unless @current_company_store.gooten? %>
        <span>(min <%= @product.minimum_quantity %>)</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 purchase-list">
      <ul>
        <% @purchase.class.sizes.each do |key| %>
          <% size_value = @size_quantity.present? ? @size_quantity[key] : 0 %>
          <li class="col-md-2">
            <%= text_field_tag key, size_value, name:"size[#{key}]", class: 'product-size form-control' %>
            <span><%= key %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
