<%- api_key = @current_company_store.buyer.spree_api_key unless @current_company_store.nil? %>
<%- api_key = spree_current_user.spree_api_key if api_key.nil? && spree_current_user.present? %>

<div class="cs-page row" id="new-purchase" data-key="<%= api_key %>">
  <div class="col-md-6">
    <%= large_image(@product, itemprop: 'image', class: 'main-product-image mobile-image center-block') %><br/>
    <div class='small-images'>
      <% @product.images.each do |image| %>
        <%= image_tag image.attachment.url(:small), class: 'secondary-product-image' %>
      <% end if @product.images.size > 1 %>
    </div>

    <% if @current_company_store.gooten? %>
      <br /><br />

      <div class="well">
        <%= form_for @purchase.logo, multipart: true, url: '/logos', class: 'form' do |f| %>
          <div class="form-group">
            <h2 class="text-center"><%= Spree.t(:logo) %></h2>
            <%= f.file_field :logo, class: 'logo-upload' %>
          </div>

          <br />

          <%= image_tag 'star-1.png', class: 'hidden logo-to-upload text-center' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <h1 id='new_purchase_name'><%= (@category && @category.name) || @product.name %></h1>

    <%= form_for @purchase, url: main_app.purchases_path, class: 'form' do |f| %>
      <%= f.hidden_field :company_store_slug, value: @current_company_store.slug %>
      <%= f.hidden_field :company_store_type, value: @current_company_store.store_type %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.hidden_field :buyer_id, value: @purchase.buyer_id %>
      <%= f.hidden_field :image_id, value: nil %>
      <%= f.hidden_field :category_id, value: @category.blank? ? nil : @category.id %>

      <% if @purchase.errors.any? %>
        <p class="alert alert-error">Errors</p>
        <ul>
          <% @purchase.errors.full_messages.each do |message| %>
            <li class="error"><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <fieldset>
        <%= render partial: 'imprint_method', locals: { f: f }%>
        <%= render partial: 'logos', locals: { f: f } %>
        <%= render partial: 'main_color', locals: { f: f } %>
        <%= render partial: 'quality', locals: { f: f } unless @current_company_store.traditional? %>
        <%= render(partial: 'price_breaks', locals: { f: f }) if @current_company_store.traditional? %>
        <%= render partial: 'quantity', locals: { f: f } %>
        <%= render partial: 'address', locals: { f: f } %>
        <p id='mobile-align-center'>Estimated delivery date: <%= content_tag(:span, '--', id: 'ship_date') %></p>
        <%= render partial: 'shipping_options', locals: { f: f } %>
        <%= render partial: 'active_price', locals: { f: f } %>
        <%= render partial: 'buttons', locals: { f: f } %>
      </fieldset>
    <% end %>

    <% if @product.description %>
      <p id='mobile-align-center'><strong>Description:</strong> <%= @product.description %></p>
    <% end %>

    <p id='mobile-align-center'><strong>Factory:</strong> <%= @product.original? ? @product.original_supplier.name : @product.supplier.name %></p>
    <p id='mobile-align-center'><strong>SKU:</strong> <%= @product.sku %></p>
  </div>
</div>
