<div class="row">
  <div class="col-md-12">
    <%= f.hidden_field :product_id, value: @product.id %>

    <%= f.field_container :imprint_method, class: ['form-group'] do %>
      <%= f.label :imprint_method, Spree.t(:imprint_method) %>
      <span class='required'>*</span>
      <%= f.collection_select(:imprint_method_id, @imprint_methods, :id, :name, { }, { class: 'select2' }) %>
      <%= f.error_message_on :imprint_method %>
    <% end %>
  </div>
</div>
