<% content_for :page_title do %>
<%= Spree.t(:account_settings) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <% active_me = nil %>
  <% active_me = 'active' unless ['address', 'logo'].include? @tab %>
  <li class="<%= active_me %>"><a href="#contact-tab" role="tab" data-toggle="tab"><%=Spree.t(:contact_information)%></a></li>
  <% active_me = nil %>
  <% active_me = 'active' if @tab == 'address' %>
  <li class="<%= active_me %>"><a href="#address-tab" role="tab" data-toggle="tab"><%=Spree.t(:Addresses)%></a></li>
  <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
    <li><a href="#taxrates-tab" role="tab" data-toggle="tab"><%=Spree.t(:tax_rates)%></a></li>
    <li><a href="#prebids-tab" role="tab" data-toggle="tab"><%=Spree.t(:prebids)%></a></li>
  <% end %>
  <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
    <% active_me = nil %>
    <% active_me = 'active' if @tab == 'logo' %>
    <li class="<%= active_me %>"><a data-toggle="tab" href="#logo-tab" role="tab"><%= Spree.t(:logos) %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% active_me = nil %>
  <% active_me = 'active' unless ['address', 'logo'].include? @tab %>
  <div class="tab-pane <%= active_me %>" id="contact-tab">
    <%= render partial: 'spree/dashboards/shared/contact_tab' %>
  </div>
  <% active_me = nil %>
  <% active_me = 'active' if @tab == 'address' %>
  <div class="tab-pane <%= active_me %>" id="address-tab">
    <%= render partial: 'spree/dashboards/shared/address_tab' %>
  </div>
  <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
    <div class="tab-pane" id="taxrates-tab">
      <%= render partial: 'spree/dashboards/seller/taxrates_tab' %>
    </div>
    <div class="tab-pane" id="prebids-tab">
      <%= render partial: 'spree/dashboards/seller/prebids_tab' %>
    </div>
  <% end %>
  <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
    <% active_me = nil %>
    <% active_me = 'active' if @tab == 'logo' %>
    <div class="tab-pane <%= active_me %>" id="logo-tab">
      <%= render partial: 'spree/dashboards/buyer/logos_tab' %>
    </div>
  <% end %>
</div>
