<% content_for :page_title do %>
  <%= Spree.t(:account_settings) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#account-contact-tab" role="tab" data-toggle="tab"><%=Spree.t(:account_and_contact)%></a></li>
  <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
    <li><a href="#logo-tab" role="tab" data-toggle="tab"><%=Spree.t(:logos)%></a></li>
  <% end %>
</ul>

<div class="tab-content" id="account-settings">
  <div class="tab-pane active" id="account-contact-tab">
    <%= render partial: 'spree/dashboards/shared/account_contact_tab' %>
  </div>
  <div class="tab-pane" id="logo-tab">
    <%= render partial: 'spree/dashboards/buyer/logos_tab' %>
  </div>
</div>
