<% content_for :page_title do %>
<%= Spree.t(:account_settings) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#contact-tab" role="tab" data-toggle="tab"><%=Spree.t(:contact_information)%></a></li>
  <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
    <li><a href="#taxrates-tab" role="tab" data-toggle="tab"><%=Spree.t(:tax_rates)%></a></li>
  <% end %>
  <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
  <li>
    <a data-toggle="tab" href="#logo-tab" role="tab"><%= Spree.t(:logos) %></a>
  </li>
  <% end %>
</ul>

<div class="tab-content" id="contact-information">
  <div class="tab-pane active" id="contact-tab">
    <%= render partial: 'spree/dashboards/shared/contact_tab' %>
  </div>
  <% if spree_current_user.has_spree_role?(:seller) || spree_current_user.has_spree_role?(:admin) %>
  <div class="tab-pane" id="taxrates-tab">
    <%= render partial: 'spree/dashboards/seller/taxrates_tab' %>
  </div>
  <% end %>
  <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
  <div class="tab-pane" id="logo-tab">
    <%= render partial: 'spree/dashboards/buyer/logos_tab' %>
  </div>
  <% end %>
</div>
