<% content_for :page_title do %>
  <%= Spree.t(:account_settings) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#account-contact" role="tab" data-toggle="tab"><%=Spree.t(:account_and_contact)%></a></li>
  <li><a href="#paypal" role="tab" data-toggle="tab"><%=Spree.t(:paypal)%></a></li>
  <% if spree_current_user.has_spree_role?(:buyer) || spree_current_user.has_spree_role?(:admin) %>
    <li><a href="#logo" role="tab" data-toggle="tab"><%=Spree.t(:logo)%></a></li>
  <% end %>
</ul>
<!-- Tab panes -->
<div class="tab-content" id="account-settings">
  <div class="tab-pane active" id="account-contact">
    <div class="panel panel-default">
      <div class="panel-body" id="user-panel-edit">
        <%= form_for @user do |user_fields| %>
          <fieldset form="account-form">
            <div class="form-group">
              <%= user_fields.label :email, Spree.t(:email) %>
              <%= user_fields.email_field :email %>
            </div>
            <div class="form-group">
              <%= user_fields.label :password, Spree.t(:password) %>
              <%= user_fields.password_field :password %>
            </div>
            <div class="form-group">
              <%= user_fields.label :password_confirmation, Spree.t(:password_confirmation) %>
              <%= user_fields.password_field :password_confirmation %>
            </div>
            <div class="col-md-6">
              <h4><%= Spree.t(:billing_address) %></h4>
              <%= user_fields.fields_for :billing_address, @user.billing_address do |bill_fields| %>
                <%= render partial: 'spree/dashboards/shared/address_form', locals: { f: bill_fields, type: 'billing' } %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h4><%= Spree.t(:shipping_address) %></h4>
              <%= user_fields.fields_for :shipping_address, @user.shipping_address do |ship_fields| %>
                <%= render partial: 'spree/dashboards/shared/address_form', locals: { f: ship_fields, :type => 'shipping' } %>
              <% end %>
            </div>
            <div class="panel-footer form-actions">
              <button type="submit" id="update-account" class="btn brn-primary btn-success"><i class="fa fa-refresh"></i>Update</button>
              <span class="or">or</span>
              <button type="cancel" class="btn btn-default"><i class="fa fa-times"></i>Cancel</button>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="paypal">
    <div class="panel panel-default">
      <div class="panel-heading"><%=Spree.t(:paypal_profiles)%></div>
      <div class="panel-body">
        <p>Paypal Account: Not Specified <a href="#">edit</a></p>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="logo">
    Logo
  </div>
</div>
