<div class="panel panel-default">
  <div class="panel-body" id="user-panel-edit">
    <%= form_for @pxaccount, url: main_app.pxaccounts_path, class: 'form'  do |user_fields| %>
      <%= render 'spree/shared/error_messages', :object => @pxaccount %>
      <%= user_fields.hidden_field :id, value: spree_current_user.id %>
      <fieldset form="account-form">
        <div class="form-group">
          <%= user_fields.label :email, Spree.t(:email) %>
          <%= user_fields.email_field :email, { disabled: true , class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= user_fields.label :password, Spree.t(:password) %>
          <%= user_fields.password_field :password, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= user_fields.label :password_confirmation, Spree.t(:password_confirmation) %>
          <%= user_fields.password_field :password_confirmation, { class: 'form-control' } %>
        </div>
        <div class="col-md-6">
          <h4><%= Spree.t(:billing_address) %></h4>
          <%= user_fields.fields_for :bill_address, @pxaccount.bill_address || Spree::Address.default(@user, "bill") do |bill_fields| %>
            <% bill_fields.object ||= Spree::Address.new(country: Spree::Country.new) %>
            <%= render partial: 'spree/dashboards/shared/address_form', locals: { f: bill_fields, type: 'billing' } %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h4><%= Spree.t(:shipping_address) %></h4>
          <%= user_fields.fields_for :ship_address, @pxaccount.ship_address || Spree::Address.default(@user, "ship") do |ship_fields| %>
            <% ship_fields.object ||= Spree::Address.new(country: Spree::Country.new) %>
            <%= render partial: 'spree/dashboards/shared/address_form', locals: { f: ship_fields, :type => 'shipping' } %>
          <% end %>
        </div>
        <div class="panel-footer form-actions">
          <button class="btn brn-primary btn-success" id="update-account" type="submit">
            <i class="fa fa-refresh"></i>Update</button>
          <span class="or">or</span>
          <button class="btn btn-default" type="cancel">
            <i class="fa fa-times"></i>Cancel</button>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
