<div class="row">
  <div class="alpha ten columns col-md-6 col-sm-6 col-xs-12">

    <%= form.field_container :title do %>
      <%= form.label :title, Spree.t(:title) %> <span class="required">*</span><br />
      <%= form.text_field :title, :class => 'fullwidth title form-control' %>
      <%= form.error_message_on :title %>
    <% end %>

    <%= form.field_container :permalink do %>
      <%= form.label :permalink, Spree.t(:permalink) %> <span class="required">*</span><br />
      <%= form.text_field :permalink, :class => 'fullwidth form-control' %>
      <%= form.error_message_on :permalink %>
    <% end %>

    <div class="columns five alpha">
      <%= form.field_container :published_at do %>
        <%= form.label :published_at, Spree.t(:published_at) %><br />
        <%= form.error_message_on :published_at %>
        <% if @blog_entry.published_at? %>
          <% published_at = l(@blog_entry.published_at, :format => Spree.t('date_picker.format')) %>
        <% else %>
          <% published_at = nil %>
        <% end %>
        <%= form.text_field :published_at, :value => published_at, :class => 'datepicker form-control' %>
      <% end %>
    </div>

    

  </div>

  <div class="omega six columns col-md-6 col-sm-6 col-xs-12">
    
    <div class="columns five omega">
      <%= form.field_container :visible do %>
        <%= form.label :visible, Spree.t(:visible) %><br />
        <%= form.check_box :visible %>
        <%= form.error_message_on :visible %>
      <% end %>
    </div>
    
    <%= form.label Spree.t(:blog_entry_featured_image) %>
   
    <% @blog_entry.build_blog_entry_image unless @blog_entry.blog_entry_image %>
    <%= form.fields_for :blog_entry_image do |blog_entry_image_field| %>
      <%= form.field_container :blog_entry_image_attachment do %>
        <div class="row upload-img">
          <% unless @blog_entry.blog_entry_image.new_record? %>
            <div class="alpha ten columns col-md-4 col-sm-4 col-xs-12 pull-left">
              <div class="blog_entry_image_thumbnail">
                <%= link_to image_tag(@blog_entry.blog_entry_image.attachment.url(:mini)), @blog_entry.blog_entry_image.attachment.url(:large) %>
                <%= @blog_entry.blog_entry_image.attachment_file_name %><br/>
              </div>
            </div>
          <% end %>  
          <div class="alpha ten columns col-md-8 col-sm-8 col-xs-12 pull-left" >
            <%= blog_entry_image_field.file_field :attachment %>
          </div>  
        </div>  
      <% end %>

      <%= form.field_container :blog_entry_image_alt do %>
        <%= blog_entry_image_field.label :alt, Spree.t(:alt_text) %><br/>
        <%= blog_entry_image_field.text_field :alt, :class => 'form-control' %>
      <% end %>
    <% end %>
 
  </div>
</div>
<div class="row">
  <div class="alpha ten columns col-md-6 col-sm-6 col-xs-12">
    <%= form.field_container :body do %>
      <%= form.label :body %> <span class="required">*</span><br />
      <%= form.text_area :body, {:cols => 60, :rows => 4, :class => 'fullwidth form-control', :id => 'blog_entry_body'} %>
      <%= form.error_message_on :body %>
    <% end %>
  </div>  
  <div class="alpha ten columns col-md-6 col-sm-6 col-xs-12">
    <%= form.field_container :summary do %>
      <%= form.label :summary %><br />
      <%= form.text_area :summary, {:cols => 60, :rows => 4, :class => 'fullwidth form-control', :id => 'blog_entry_summary'} %>
      <%= form.error_message_on :summary %>
    <% end %>
  </div>
</div>    
