<div class="modal fade" id="product-ideation-request" tabindex="-1" role="dialog" aria-labelledby="product-ideation-request">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <% if spree_current_user %>
        <div class="modal-body">
          <%= form_for :product_request, url: main_app.product_requests_path, html: {id: 'product_request', class: 'form'}, remote: true do |f| %>
            <%= f.hidden_field :buyer_id, value: spree_current_user.id %>
            <span class="payment-errors"><ul></ul></span>
            <div class="form-group">
              <label> It’s okay, we all need help some times. Let our swag pros give you some great unique product ideas based on the details you provide. What do we need to know? Glad you asked. What is the purpose of the product? Do you have a budget in mind? Do you need made in the USA products? Let us know anything and everything you had in mind and we’ll get back to you within 2 days. The more detail you can give us, the better! </label>
            </div>

            <div class="form-group">
              <%= f.text_field :title, class: 'form-control', placeholder: 'Project Title' %>
            </div>

            <div class="form-group">
              <%= f.text_field :quantity, class: 'form-control', placeholder: 'Quantity' %>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <%= f.text_field :budget, class: 'form-control', placeholder: 'Budget' %>
                <div class="input-group-addon">.00</div>
              </div>
            </div>

            <div class="form-group">
              <label class="checkbox-inline">
                <%= check_box_tag 'product_request[request_type][]', 'Union Made' %> Union Made
              </label>
            
              <label class="checkbox-inline">
                <%= check_box_tag 'product_request[request_type][]', 'Made in the USA' %> Made in the USA
              </label>

              <label class="checkbox-inline">
                <%= check_box_tag 'product_request[request_type][]', 'Eco Friendly' %> Eco Friendly
              </label>
            </div>

            <div class="form-group">
              <%= f.text_area :request, class: 'form-control' %>
            </div>
        </div>
        <div class="modal-footer">
            <%= f.submit 'Submit', class: "btn btn-primary" %>
          <% end %>
          <%= button_tag "Close", class: "btn btn-default", data: {dismiss: "modal"} %>
        </div>
      <% else %>
        <div class="modal-body">
          <div class="form-group">
            <label>
              "It’s okay, we all need help some times. Let our swag pros give you some great unique product ideas based on the details you provide. What do we need to know? Glad you asked. What is the purpose of the product? Do you have a budget in mind? Do you need made in the USA products? Let us know anything and everything you had in mind and we’ll get back to you within 2 days. The more detail you can give us, the better!"
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Login", spree.login_path, class: "btn btn-primary" %>
          <%= link_to "Register", main_app.new_pxuser_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
