<div>Can't find the product you are looking for? <a href="#" class="btn btn-sm btn-success"
   data-toggle="modal"
   data-target="#request-prod-dialog">Request it</a>
</div>
<div class="modal fade" id="request-prod-dialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title" >Can't find the product your're looking for?</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu lacus non libero porttitor iaculis id non mauris. Nunc interdum porttitor convallis. Vivamus ac nisl id nisl ultricies lobortis eget at mi.</p>
                <%= form_tag(class: 'form-inline') do %>
                  <div class="form-group">
                    <%= label_tag(:q, "Upload picture* ") %>
                    <%= button_tag('Browse...') %>
                    <i> Acceptable formats: .jpg, .png</i>
                  </div>
                  <%= label_tag(:message, "Description") %>
                  <div class="form-group">
                    <%= text_area_tag(:message, "", size: "60x6") %>
                  </div>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Request</button>
        </div>
    </div>
  </div>
</div>
