<div id="batman-sidebar">

  <div class="well well-sm">
    <div class="slide-header">
      <a data-toggle="collapse" href="#categories_slide"><%=Spree.t(:categories)%></a>
      </div>
    <div id='categories_slide' class="collapse in scroll-box">
      <h4><%= Spree.t(:categories) %></h4>
    </div>
  </div>

  <div class="well well-sm">
    <div class="slide-header">
      <a data-toggle="collapse" href="#colors-slide"><%=Spree.t(:colors)%></a>
    </div>
    <div id='colors-slide' class="collapse in scroll-box">
      <h4><%= Spree.t(:colors) %></h4>
    </div>
  </div>

  <div class="well well-sm">
    <div class="slide-header">
      <a data-toggle="collapse" href="#starting-bid"><%=Spree.t(:starting_bid)%></a>
    </div>
    <div id='starting-bid' class="collapse in scroll-box">
      <h4><%= Spree.t(:starting_bid) %></h4>
    </div>
  </div>

  <div class="well well-sm">
    <div class="slide-header">
      <a data-toggle="collapse" href="#app-sizing-slide"><%=Spree.t(:apparel_sizing)%></a>
    </div>
    <div id='app-sizing-slide' class="collapse in scroll-box">
      <h4><%= Spree.t(:apparel_sizing) %></h4>
    </div>
  </div>

</div>
