<% max_level = Spree::Config[:max_level_in_taxons_menu] || 3 %>
<div id="batman-sidebar">
  <div class="well well-sm">
    <% @taxonomies.each do |taxonomy| %>
      <% name = ("#{taxonomy.name}-slide").downcase! %>
      <div class="slide-header">
        <a data-toggle="collapse" data-target='<%="\##{name}"%>'<%=Spree.t(taxonomy.name)%></a>
      </div>
      <div id='<%="#{name}"%>' class="collapse in scroll-box">
        <% cache [I18n.locale, taxonomy, max_level] do %>
        <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless spree_current_user.has_spree_role?(:seller) %>
    <div>
      <%= button_tag "Please have a PromoExchange rep generate product ideas for me", data: {toggle: "modal", target: "#myModal"} %>
    </div>
  <% end %>
</div>

<%= render partial: "spree/product/product_request_modal" %>