<div class="panel panel-default">
  <div class="panel-body" id="logo-panel-edit">
    <div id="user-logo-tab">
      <%= form_for @logo, multipart: true, url: main_app.logos_path, class: 'form' do |f| %>
        <%= f.hidden_field :user_id, value: spree_current_user.id %>
        <div class="form-group">
          <%= f.label :logo_file, Spree.t(:add_logo) %>
          <%= f.file_field :logo_file %>
          <p>Acceptable file formats: (.ai, .pdf, .eps, .psd) <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Please contact our support team to find out how to get the correct file format if you do not currently have it available. "></span></p>

          <script>$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
        });
          </script>

          <%= button 'Upload', 'ok', 'submit', {class: 'btn-success'} %>
        </div>
      <% end %>
      <div class="row">
        <% unless @user.logos.any? %>
          <p>No logos found</p>
        <% else %>
          <% @user.logos.each do |image| %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <p style="word-wrap: break-word;"><%= image.logo_file_file_name %></p>
              </div>
              <center>
                <div class="panel-footer">
                  <%= link_to "Delete", "/logos/#{image.id}", method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure, you want to delete this file?"}%>
                  <%= link_to "Download", "/logos/#{image.id}/download_logo", method: :get, class: "btn btn-primary" %>
                </div>
              </center>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
