<div class="panel panel-default" id="customer-method" data-key="<%= spree_current_user.spree_api_key %>">
  <div class="panel-body">
    <div class="panel-head-block">
      <div class="pull-left"><h3>Checking Account</h3></div>
      <div class="pull-right text-center right-btn" id="add-account">
        <button class="btn btn-primary add-account">
        Add Checking Account<span class="glyphicon glyphicon-plus-sign"></span>
      </button>
      </div>
    </div>

    <table class="table checking-act" id="checking-account">
      <% if @user.customers.web_check.present? %>
        <% @user.customers.web_check.each do |customer| %>
          <tr>
            <td><%= "#{customer.brand}##{customer.last_4_digits}" %></td>
            <td><span class="glyphicon glyphicon-remove-sign remove-customer pull-right" data-id="<%= customer.id %>"></span></td>
          </tr>
          <% unless customer.status == 'verified' %>
            <tr class="confirm_tr">
              <td colspan="2">
                <%= render partial: 'spree/dashboards/buyer/confirm_deposit', locals: {customer_id: customer.token} %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr><td> No Checking Accounts Added </td></tr>
      <% end %>
    </table>

    <%= render partial: 'spree/dashboards/buyer/account_form' %>
    <div id="confirm_deposit">
      <%= render partial: 'spree/dashboards/buyer/confirm_deposit', locals: {customer_id: ''} %>
    </div>
  </div>

  <!-- Credit/Debit Cards Detail -->
  <div class="panel-body">
    <div class="panel-head-block">
      <div class="pull-left"><h3>Credit & Debit Cards</h3></div>
      <div class="pull-right text-center" id="add-card">
        <button class="btn btn-primary">
          Add Credit/Debit Card
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        </div>
    </div>

    <table class="table checking-act" id="credit-card">
      <% if @user.customers.credit_card.present? %>
        <% @user.customers.credit_card.each do |customer| %>
          <tr>
            <td><%= "#{customer.brand} #{customer.last_4_digits}" %></td>
            <td><span class="glyphicon glyphicon-remove-sign remove-customer pull-right" data-id="<%= customer.id %>"></span></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td> No Credit & Debit Cards Added </td></tr>
      <% end %>
    </table>

    <div id="add-card-field">
      <%= render partial: 'spree/dashboards/buyer/customer_form' %>
    </div>
  </div>

  <div class="panel-body text-center">
    <div>
      <%= link_to image_tag('logo/stripe.png', alt: 'Stripe Logo'), 'https://www.stripe.com', target: "_blank" %>
    </div>
  </div>
</div>
