<div class="panel panel-default" id="customer-method" data-key="<%= spree_current_user.spree_api_key %>">
  <div class="panel-body">
    <div>
      <div class="pull-left">Checking Account (save an additional 2.9% on most transactions)</div>
      <div class="pull-right text-center" id="add-account"><span class="glyphicon glyphicon-plus-sign"></span><br>Add Checking Account</div>
    </div>

    <table class="table" id="checking-account">
      <% if true %>
        <% (1..3).each do %>
          <tr>
            <td>Nickname #1234</td>
            <td><span class="glyphicon glyphicon-remove-sign remove-account pull-right"></span></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td> No Checking Accounts Added </td></tr>
      <% end %>
    </table>

    <table class="table text-center" id="add-account-field">
      <tr>
        <td><%= text_field_tag :nick_name, nil, placeholder: 'Account Nickname' %></td>
        <td><%= text_field_tag :routing_number, nil, placeholder: 'Routing Number' %></td>
        <td><%= text_field_tag :account_number, nil, placeholder: 'Account Number' %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= button_tag 'Submit', class: 'pull-left btn-success' %>
          <%= button_tag 'Cancel', class: 'pull-right btn-danger cancel-account' %>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>

  <div class="panel-body">
    <div>
      <div class="pull-left">Credit & Debit Cards</div>
      <div class="pull-right text-center" id="add-card"><span class="glyphicon glyphicon-plus-sign"></span><br>Add Credit/Debit Card</div>
    </div>

    <table class="table" id="credit-card">
      <% if @user.customers.present? %>
        <% @user.customers.each do |customer| %>
          <tr>
            <td><%= "#{customer.brand} #{customer.last_4_digits}" %></td>
            <td><span class="glyphicon glyphicon-remove-sign remove-card pull-right" data-id="<%= customer.id %>"></span></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td> No Credit & Debit Cards Added </td></tr>
      <% end %>
    </table>

    <div  id="add-card-field">
      <%= render partial: 'spree/dashboards/buyer/customer_form' %>
    </div>
  </div>

  <div class="panel-body text-center">
    <div>
      <%= link_to image_tag('logo/stripe.png', alt: 'Stripe Logo'), 'https://www.stripe.com', target: "_blank" %>
    </div>
  </div>
</div>