<% content_for :page_title do %>
  <%= Spree.t(:invoice) %>
<% end %>

<% content_for :head do %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= ENV["STRIPE_TEST_PUBLISHABLE_KEY"] %>');
</script>
<% end %>

<div class="row" id="show-invoice" data-key="<%= spree_current_user.spree_api_key %>">
  <div class="col-md-6 well">
    <div class="auction-details">
      <h4><%= Spree::t(:auction_details) %></h4>
      <table class="table">
        <tr><td>Auction #:</td><td><%= @auction.reference %></td></tr>
        <tr><td>Winning Bid:</td><td>$<%= @auction.winning_bid.bid %></td></tr>
        <tr><td>Product:</td><td><%= @auction.product.name %></td></tr>
        <tr><td>Factory:</td><td><%= @auction.product.supplier.name %></td></tr>
        <tr><td>SKU:</td><td><%= @auction.product.sku %></td></tr>
        <tr><td>Buyer:</td><td><%= @auction.buyer.billing_address.full_name %></td></tr>
        <tr><td>Started:</td><td><time data-format='%B %e, %Y %l:%M%P' data-local='time' datetime='<%= @auction.started %>'><%= @auction.started %></time></td></tr>
        <tr><td>Quantity:</td><td><%= @auction.quantity %></td></tr>
        <tr><td>Imprint Method:</td><td><%= @auction.imprint_method.name %></td></tr>
        <tr><td>Main Color:</td><td><%= @auction.main_color.color %></td></tr>
        <tr><td>Payment Method:</td><td><%= @auction.payment_method %></td></tr>
        <tr><td>Custom PMS Colors:</td><td><%= @auction.custom_pms_colors %></td></tr>
        <tr>
          <td>Imprint Colors:</td>
          <td>
            <% @auction.pms_colors.each do |c| %>
              <p><%= c.name %>/<%= c.pantone %></p>
              <% end %>
          </td>
        </tr>
        <tr><td>Expected Delivery Date:</td><td><time data-format='%B %e, %Y' data-local='time' datetime='<%= 15.days.from_now %>'><%= 15.days.from_now %></time></td></tr>
        <% unless @auction.logo.nil? %>
          <tr><td>Logo:</td><td><%= image_tag(@auction.logo.logo_file.url(:thumb), { itemprop: "image", alt: @auction.logo.logo_file_file_name }) %></td></tr>
        <% end %>
        <tr>
          <td>Shipping Address:</td>
          <td>
            <ul class="display-address-ul">
              <li><%= @auction.shipping_address.firstname %>&nbsp;<%= @auction.shipping_address.lastname %></li>
              <li><%= @auction.shipping_address.company %></li>
              <li><%= @auction.shipping_address.address1 %></li>
              <li><%= @auction.shipping_address.address2 %></li>
              <li><%= @auction.shipping_address.city %></li>
              <li><%= @auction.shipping_address.state_text %>&nbsp;<%= @auction.shipping_address.zipcode %></li>
            </ul>
          </td>
        </tr>
        <% if @auction.waiting_confirmation? %>
          <tr><td colspan='2'><button class="btn btn-success" id="confirm-order-submit" data-id="<%= @auction.id %>" type="submit">Confirm Order</button></td></tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <% if @auction.unpaid? %>
      <h2>Fee: $<%= "%.2f" % ((@auction.winning_bid.seller_fee / (1 - 0.029)) + 0.30) %> </h2>
      <form action="/order_confirm" id="payment-form" method="POST" class="form">
        <%= hidden_field_tag id='invoice-auction-id', @auction.id %>
        <span class="payment-errors"></span>
        <div class="form-group">
          <label>
            <span>Card Number</span>
            <input data-stripe="number" size="20" type="text" class="form-control"/>
          </label>
        </div>
        <div class="form-group">
          <label>
            <span>CVC</span>
            <input data-stripe="cvc" size="4" type="text" class="form-control"/>
          </label>
        </div>
        <div class="form-group">
          <label>
            <span>Expiration (MM/YYYY)</span>
            <input data-stripe="exp-month" size="2" type="text"/>
            <span>/</span>
            <input data-stripe="exp-year" size="4" type="text"/>
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-success" id="payment-submit" type="submit">Submit Payment</button>
          <span>or</span>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    <% end %>

    <% if @auction.proof_file.present? %>
      <table>
        <% if @auction.proof_feedback.present? %>
          <h3> Feedback for virtual proof </h3>
          <tr>
            <td colspan='2'>
              <div class="panel panel-default">
                <div class="panel-body">
                  " <%= @auction.proof_feedback %> "
                </div>
              </div>
            </td>
          </tr>
        <tr>
          <td class="col-md-3">
            <%= link_to "Upload New Proof", "#", class: 'btn btn-success upload_proof', data: {id: @auction.id} %>
          </td>
        <% end %>
          <td>
            <%= link_to "View Proof", "/auctions/#{@auction.id}/download_proof", class: 'btn btn-success' %>
          </td>
        </tr>
      </table>     
    <% end %>
  </div>
</div>
<%= render partial: 'spree/dashboards/seller/upload_proof_modal' %>