<div class="col-md-6">
  <% url = spree.product_url(@auction.product) %>
  <%= link_to large_image(@auction.product, itemprop: "image"), url, itemprop: 'url' %><br/>
  <p><%= @auction.product.description %></p>
  <%= render partial: 'spree/shared/properties' %>
</div>
<div class="col-md-6 well">
  <div class="auction-details">
    <h4><%= Spree::t(:auction_details) %></h4>
    <div class="col-md-6 titles">
      <p>Product:</p>
      <p>Factory:</p>
      <p>SKU:</p>
      <p>Buyer:</p>
      <p>Started:</p>
      <p>Imprint Method:</p>
      <p>Main Color:</p>
      <p>Payment Method:</p>
      <p>Imprint Colors:</p>
    </div>
    <div class="col-md-6">
      <p><%= @auction.product.name %></p>
      <p><%= @auction.product.supplier.name %></p>
      <p><%= @auction.product.sku %></p>
      <p><%= @auction.buyer.billing_address.full_name %></p>
      <p><time data-format='%B %e, %Y %l:%M%P' data-local='time' datetime='<%= @auction.started %>'><%= @auction.started %></time></p>
      <p><%= @auction.imprint_method.name %></p>
      <p><%= @auction.main_color.color %></p>
      <p><%= @auction.payment_method %></p>
      <% @auction.pms_colors.each do |c| %>
        <p><%= c.name %>/<%= c.pantone %></p>
      <% end %>
    </div>
  </div>
</div>
