<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-1">
          <a href="/"><%= image_tag("logo/px_logo.png") %></a>
        </figure>
        <div class="col-md-11">
          <%= render :partial => 'spree/shared/nav_bar' %>
          <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
          <% if spree_current_user %>
            <p class = "header-sign-in" > Hello, <%= spree_current_user.bill_address.first_name %> </p>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if spree_current_user %>
          <p class = "header-sign-in">Hello, <%= spree_current_user.bill_address.first_name%></p>
          <% end %>
          <% else %>
        </div>
      </div>
    </div>
  </header>
</div>
