<% content_for :page_title do %>
  <%= Spree.t(:exchange) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#seller-live-auction" id="seller-live-auction-tab" role="tab" data-toggle="tab"><%=Spree.t(:live_auctions)%></a></li>
  <li><a href="#seller-won-auction" id="seller-won-auction-tab" role="tab" data-toggle="tab"><%=Spree.t(:auctions_won)%></a></li>
  <li><a href="#seller-lost-auction" id="seller-lost-auction-tab" role="tab" data-toggle="tab"><%=Spree.t(:auctions_lost)%></a></li>
</ul>

<div class="tab-content">
  <%= render partial: 'spree/dashboards/seller/live_auction' %>
  <%= render partial: 'spree/dashboards/seller/won_auctions' %>
  <%= render partial: 'spree/dashboards/seller/lost_auctions' %>
</div>
