<div class="tab-pane scrolling <%= 'active' if @tab.nil? %>" id="seller-live-auction">
  <div class="panel panel-default">
    <div class="panel-body">
      <table data-key="<%= spree_current_user.spree_api_key %>"
             data-id="<%= spree_current_user.id %>"
             class="table table-striped" id="seller-live-auction-table">
        <thead>
          <tr>
            <th><%= Spree.t(:auction_hash) %></th>
            <th><%= Spree.t(:product) %></th>
            <th><%= Spree.t(:date) %></th>
            <th><%= Spree.t(:quantity) %></th>
            <th><%= Spree.t(:your_bid) %></th>
            <th><%= Spree.t(:lowest_3_bids) %></th>
            <th class="actions"><%= Spree.t(:action_col) %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td class='text-center' colspan='7'><i class='fa fa-spinner fa-pulse fa-3x'></i></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: 'spree/dashboards/seller/bid_modal' %>
