<% content_for :page_title do %>
<%= Spree.t(:prebid_settings) %>
<% end %>

<div class="tab-pane" id="prebid-pane">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped" id="prebid-table">
        <thead>
          <tr>
            <th>Factory</th>
            <th>Live</th>
            <th>EQP</th>
            <th>Discount from EQP (%)</th>
            <th>Markup (%)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% (@prebids || []).each do |prebid| %>
            <tr data-id="<%= prebid.id %>" id="prebid-<%= prebid.id %>">
              <td class="factory" data-id><%= prebid.supplier.name %></td>
              <td class="live-flag"><%= prebid.live.humanize %></td>
              <td class="eqp-flag"><%= prebid.eqp.humanize %></td>
              <td class="eqp-discount"><%= percentage_display(prebid.eqp_discount) %></td>
              <td class="markup"><%= percentage_display(prebid.markup) %></td>
              <td><button type="button" class="btn btn-success open-prebid" data-toggle="modal" data-target="#prebid-edit-modal">Edit</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: 'spree/dashboards/seller/prebid_modal' %>
