<% content_for :page_title do %>
<%= Spree.t(:tax_rates) %>
<% end %>

<div class="tab-pane" id="tax-rates-pane">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped" id="tax-rates-table">
        <thead>
          <tr>
            <th>State</th>
            <th>Sales Tax Rate</th>
            <th>Also Charge Sales Tax on S&amp;H</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% (@tax_rates || []).each do |t| %>
            <tr data-id="<%= t.id %>" id="taxrate-<%= t.id %>">
              <td class="rate-name"><%= t.zone.name %></td>
              <td class="rate-amount pct"><%= (t.amount * 100).round(3) %></td>
              <td class="rate-includesandh text-center"> No </td>
              <td><button type="button" class="btn btn-success open-tax-rate" data-toggle="modal" data-target="#tax-rate-edit-modal">Edit</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: 'spree/dashboards/seller/tax_rate_modal' %>
