<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Batman App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PromoExchange" %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/logobar' %>
      <%= render 'layouts/messages' %>
      <div class="container">
        <div class="col-md-3 ">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
  <footer role="footer">
    <%= render 'layouts/footer'%>
  </footer>
</html>
