<!-- Blog section -->
  <div class="blog-wrapper">
    <% if @blog_entries.present? %>
      <% @blog_entries.each do |blog_entry |%>
        <div class="row">
          <div class="col-md-12 blog-detail">
            <div class="blog thumbnail">
              <div class="heading-detail" style="display:inline-block; width:100%; ">
              <h3 class="pull-left" style="margin:0px;"><%= link_to blog_entry.title, blog_entry_permalink(blog_entry) %></h3>
              <span class="pull-right"><%= l(blog_entry.published_at, :format => :blog_date) %></span>
              </div>
              <p><%== blog_entry.entry_summary %></p>
              <div class="read-more"><a href="<%= blog_entry_permalink(blog_entry)%>" class="btn btn-primary">Read more</a></div>
            </div>
          </div>
        </div>
      <% end %>  
    <% else %>
      <p id="no_entries"><%= Spree.t(:no_blog_entries) %></p>
    <% end %> 
  </div>
  
  <!-- end of blog section -->
<%= paginate @blog_entries %>


