<div class="blog-wrapper">
  <div class="row">
    <div class="col-md-12 blog-detail">
      <div class="blog thumbnail">
        <div class="heading-detail" style="display:inline-block; width:100%; ">
          <h3 class="pull-left" style="margin:0px;"><%= @blog_entry.title %></h3>
          <span class="pull-right"><%= l(@blog_entry.published_at, :format => :blog_date) %></span>
        </div>
        <div class="row">
          <% if @blog_entry.blog_entry_image.present?%>
            <div class="col-md-3">
              <%= image_tag( @blog_entry.blog_entry_image.attachment.url(:large)) %>
            </div>
          <% end %>  
          <div class="col-md-9">
            <p><%== @blog_entry.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="back-btn">
   <%= link_to Spree.t(:back_to_home), blog_path, class: 'btn btn-primary' %>

</div>




